{ pkgs ? (import <nixpkgs> {})
, coqPackagesInfo ? {
    coq = "https://github.com/coq/coq/tarball/master";
{{# dependencies }}
    {{ nix }} = "{{ tarball }}";
{{/ dependencies }}
  }
, shell ? false
}:

let coqPackages =
  if builtins.isString coqPackagesInfo then
    let coq-version-parts = builtins.match "([0-9]+).([0-9]+)" coqPackagesInfo; in
    pkgs."coqPackages_${builtins.concatStringsSep "_" coq-version-parts}"
  else {
    coq = import (fetchTarball coqPackagesInfo.coq) {};
{{# dependencies }}
    bignums = import (fetchTarball coqPackagesInfo.{{ nix }}) { inherit coqPackagesInfo; };
{{/ dependencies }}
  };
in

with coqPackages;

pkgs.stdenv.mkDerivation {

  name = "{{ shortname }}";

{{# plugin }}
  buildInputs = with coq.ocamlPackages; [ ocaml findlib ]
    ++ pkgs.lib.optionals shell [ merlin ocp-indent ocp-index ];

{{/ plugin }}
  propagatedBuildInputs = [
    coq
{{# dependencies }}
    {{ nix }}
{{/ dependencies }}
  ];

  src = if shell then null else ./.;

  installFlags = "COQLIB=$(out)/lib/coq/${coq.coq-version}/";
}
